.app-content {
  padding: 0px 0px 50px 0px;
  overflow: hidden;
  position: relative;
  height: 100%;
}
.app-content ._full_inner {
  z-index: 2;
}
._effect {
  opacity: 1;
  transition: all .3s ease;
}
._full_inner {
  position: relative;
  height: 100%;
  z-index: 5;
}


._effect--30 {
  transform: translate3d(-30%,0,0);
  overflow: hidden;
  height: 100%;
}
._effect {
  opacity: 1;
  transition: all .3s ease;
}
._full_inner {
  position: relative;
  height: 100%;
  z-index: 5;
}
._full_router {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cover-transition {
  opacity: 1;
  transition: opacity .35s ease;
}
/*.component-contact {*/
  /*background: #f1f0f6;*/
  /*overflow: auto;*/
/*}*/

/*.component-scoller {*/
  /*!*overflow: auto;*!*/
  /*user-select: none;*/
  /*-webkit-user-select: none;*/
  /*padding: 1px 0 50px;*/
  /*!*box-sizing: border-box;*!*/
/*}*/
._full {
   width: 100%;
   height: 100%;
}
#app, body, html {
  height: 100%;
  overflow: hidden;
}
.app-scroll{
  position: relative;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  /*overflow: hidden;*/
}
/*.weui_tab {*/
  /*position: relative;*/
  /*height: auto;*/
/*}*/

.app-content-box-sizing{
  box-sizing: border-box;
}
.app-content-color-white{
  background:#FFFFFF;
}
