.app-content {
  /*padding: 0px 0px 50px 0px;*/
  /*overflow: hidden;*/
  /*position: relative;*/
  /*height: 100%;*/
}
.app-content ._full_inner {
  z-index: 2;
}
._effect {
  opacity: 1;
  transition: all 1.5s cubic-bezier(.81,1.38,.71,-0.46);
  /*-webkit-animation-duration: 1s;*/
  /*animation-duration: 1s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
}

._full_inner {
  position: relative;
  height: 100%;
  z-index: 5;
}


._effect--30 {
  transform: translate3d(-100%,0,0);
  overflow: hidden;
  height: 100%;
}
._full_inner {
  position: relative;
  height: 100%;
  z-index: 5;
}
._full_router {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cover-transition {
  opacity: 1;
  /*transition: opacity .35s ease;*/
}
/*.component-contact {*/
  /*background: #f1f0f6;*/
  /*overflow: auto;*/
/*}*/

/*.component-scoller {*/
  /*!*overflow: auto;*!*/
  /*user-select: none;*/
  /*-webkit-user-select: none;*/
  /*padding: 1px 0 50px;*/
  /*!*box-sizing: border-box;*!*/
/*}*/
._full {
   width: 100%;
   height: 100%;
}
#app, body, html {
  height: 100%;
  overflow: hidden;
}
.app-scroll{
  /*position: relative;*/
  /*height: 100%;*/
  /*overflow: auto;*/
  box-sizing: border-box;
  /*overflow: hidden;*/
}
/*.weui_tab {*/
  /*position: relative;*/
  /*height: auto;*/
/*}*/

.app-content-box-sizing{
  box-sizing: border-box;
}
.padding-bottom-50{
  padding-bottom: 50px;
  box-sizing: border-box;
}
.padding-bottom-42{
  padding-bottom: 42px;
  box-sizing: border-box;
}
.app-content-color-white{
  background:#FFFFFF;
}
.padding-bottom-100{
  padding-bottom: 100px;
  box-sizing: border-box;
}

.scrollable-wrap {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.scrollable {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.scrollable-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.weui_tab_bd{
  overflow: inherit;
}

/*!**页面过渡效果**!*/
/*.slide-fade-enter-active {*/
  /*transition: all .7s ease;*/
/*}*/
/*.slide-fade-leave-active {*/
  /*transition: all .7s ease;*/
  /*opacity: 0.6;*/
/*}*/
